fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
pydantic
pydantic-settings
python-multipart
pytest
pytest-cov
pytest-asyncio
httpx
aiofiles
openpyxl
alembic
pytest-playwright==0.7.2
python-jose[cryptography]
passlib[bcrypt]
